@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #7E2AF0;
    --cor-hover: #272727;
    --cor-hover-cabecalho: #A471E9;

    --fonte-primaria: var(--fonte-primaria);
    --fonte-secundaria: var(--fonte-secundaria);
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

hr{
    border-color: var(--cor-terciaria);
    margin: 2% 0% 3% 0%;
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabecalho__menu__link:hover{
    color: var(--cor-hover-cabecalho);
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__foto{
    margin-left: 10%;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}
.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__navegacao:hover{
    background-color: var(--cor-hover);
}

.apresentacao__imagem{
    width: 50%;
}

.apresentacao__curriculum{
    padding: 3% 15% 3% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.curriculum__titulo{
    font-size: 2rem;
    font-family: var(--fonte-primaria);
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3% 10%;
    gap: 3rem;
    flex-direction: column;
}

.conteudo__container{
    width: 1000px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 1.5rem;
}

.curriculum__imagem{
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 10px;
}

.curriculum__imagem:hover{
    opacity:0.5;
    filter:alpha(opacity=100); 
}

.curriculum__conteudo{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 50%;
}

.curriculum__conteudo li{
    padding-top: 0.5rem;
    font-size: 1rem;
}

.curriculum__conteudo__titulo{
    font-size: 2rem;
    font-family: var(--fonte-primaria);
}

.curriculum__conteudo__texto{
    font-size: 1.2rem;
    font-family: var(--fonte-secundaria);
}

.contato{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-bottom: 30px;

}

.contato__container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.contato__conteudo{
    display: flex;
    justify-content: center;
    gap: 8px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 15px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    align-items: center;
}

.contato__conteudo:hover{
    background-color: var(--cor-hover);
}

.empresa__link{
    width: 7.5rem;
    height: 7.5rem;
}

.rodape{
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: auto;
}

@media(min-width:1201px){
    .sobre__responsivo{
        display: none;
    }
}

@media (max-width: 1200px){

    body{
        max-width: 100%;
    }

    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        width: auto;
        padding: 2rem;
        margin: 0;
    }

    .apresentacao__conteudo{
        width: 80%;
    }

    .apresentacao__conteudo__titulo{
        font-size: 2rem;
        text-align: center;
    }

    .apresentacao__conteudo__texto{
        font-size: 1.5rem;
        text-align: center;
    }

    .apresentacao__imagem{
        width: 60%;
    }

    .curriculum{
        display: none;
    }
}

@media (max-width: 410px){
    body{
        max-width: 100%;
    }

    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
        gap: 30px;
        align-items: center;
    }

    .cabecalho__menu__link{
        font-size: 1.5rem;
        text-align: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        width: auto;
        padding: 1rem;
        margin: 0;
        gap: 1rem;
    }

    .apresentacao__conteudo{
        width: 80%;
        gap: 1rem;
    }

    .apresentacao__conteudo__titulo{
        font-size: 1.5rem;
        text-align: center;
    }

    .apresentacao__links__subtitulo{
        font-size: 1.5rem;
    }

    .apresentacao__conteudo__texto{
        font-size: 1rem;
        text-align: center;
    }

    .apresentacao__imagem{
        width: 100%;
    }

    .apresentacao__links{
        gap: 10px;
        margin: 1rem;
    }

    .apresentacao__links__navegacao{
        width: 60%;
        padding: 10px 0;
        text-decoration: none;
        color: var(--cor-secundaria);
        font-family: var(--fonte-secundaria);
        font-size: 1rem;
        align-items: center;
    }

    .contato__conteudo{
        width: 50%;
        padding: 10px 0;
        text-decoration: none;
        color: var(--cor-secundaria);
        font-family: var(--fonte-secundaria);
        font-size: 1rem;
        align-items: center;
    }

    .curriculum{
        display: none;
    }
}